.header_user_info {
    float: right;
    padding-top: 10px;
}

.header_user_info span {
	color: #999;
	display: inline-block;
}

.user-cabinet-links-header li {
    float: left;
    margin: 0 19px 0 0;
    color: #aaa
}

.user-cabinet-links-header li:last-child {
    margin: 0;
}

.user-cabinet-links-header .active a {
    color: #a5509f;
}
