@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic");
.ico { display: inline-block; }
.ico.ico_logo-small { background: url('../img/icons-s25ff529586.png') 0 -389px no-repeat; width: 60px; height: 15px; }
.ico.ico_ricato { background: url('../img/icons-s25ff529586.png') 0 -498px no-repeat; width: 46px; height: 12px; }
.ico.ico_ch-card { background: url('../img/icons-s25ff529586.png') 0 -364px no-repeat; width: 16px; height: 15px; }
.ico.ico_delete { background: url('../img/icons-s25ff529586.png') 0 -164px no-repeat; width: 10px; height: 10px; }
.ico.ico_card { background: url('../img/icons-s25ff529586.png') 0 -131px no-repeat; width: 24px; height: 23px; }
.ico.ico_f { background: url('../img/icons-s25ff529586.png') 0 -184px no-repeat; width: 40px; height: 40px; }
.ico.ico_vk { background: url('../img/icons-s25ff529586.png') 0 -286px no-repeat; width: 40px; height: 40px; }
.ico.ico_user { background: url('../img/icons-s25ff529586.png') 0 -260px no-repeat; width: 14px; height: 16px; }

.header-top { background: #eeeeee; }

.link { padding: 8px 15px; height: 40px; display: block; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.link:hover, .link.is-active { background: white; }
.link .link__top { line-height: 13px; color: #888888; font-size: 16px; font-family: "Lato", sans-serif; font-weight: normal; font-style: italic; }
.link .link__dom { font-size: 12px; line-height: 1; color: #999999; }
.link .link__dom.link__dom_mod { position: relative; top: -2px; }

.shopping-cart-wrapper { float: right; height: 40px; min-width: 172px; }

.shopping_cart { height: 40px; color: #999999; font-size: 16px; *zoom: 1; }
.shopping_cart:after { content: " "; display: table; clear: both; }
.shopping_cart.is-fixed { position: fixed; top: 0; z-index: 200; -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.15); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.15); }
.shopping_cart.is-active, .shopping_cart.is-fixed { color: #333333; background-color: #c8e5f6; }
.shopping_cart.is-active .shopping_cart_item { display: inline-block; }
.shopping_cart .shopping_cart_text { padding: 10px 15px 0; display: inline-block; }
.shopping_cart .shopping_cart_item { margin-left: 5px; color: #2290cf; font-weight: 700; display: none; }
.shopping_cart .shopping_card_btn { float: right; width: 40px; height: 40px; line-height: 40px; text-align: center; background-color: #2290cf; border: none; -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15); -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15); }

.logo { background: url('../img/icons-s25ff529586.png') 0 -414px no-repeat; width: 255px; height: 74px; }

.stock { margin-bottom: 38px; font-size: 0; }
.stock .stock__col { margin-left: 20px; width: 490px; vertical-align: top; display: inline-block; *zoom: 1; }
.stock .stock__col:after { content: " "; display: table; clear: both; }
.stock .stock__col:first-child { margin-left: 0; }
.stock .stock__img { float: left; position: relative; width: 235px; min-height: 210px; }
.stock .stock__img img { position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); display: block; }
.stock .stock__right { float: right; padding: 20px; width: 255px; height: 210px; font-weight: 700; line-height: 179px; background: #ef4052; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.stock .stock__right.is-brown { background-color: #bf9f79; }
.stock .stock__right.is-yellow { background: #f3cc09; }
.stock .stock__right.is-yellow .stock__price { color: #2290cf; }
.stock .stock__right.is-blue { background: #2290cf; }
.stock .stock__text { line-height: 1.2; vertical-align: middle; display: inline-block; }
.stock .stock__title { margin-bottom: 12px; color: white; font-size: 20px; line-height: 24px; }
.stock .stock__price { color: #f8d009; font-size: 20px; line-height: 36px; }
.stock .stock__price-old { margin-right: 2px; color: white; font-size: 14px; text-decoration: line-through; display: inline-block; }

.products .slick-track, .products .slick-list { margin-bottom: -27px; padding-bottom: 27px; }
.products .slick-prev, .products .slick-next { top: 102px; margin: 0; }
.products .slick-prev { left: -15px; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.products .slick-next { right: -42px; }

.product { width: 225px; }
.product .product__img { position: relative; height: 230px; }
.product .product__img img { position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.product .product__title { color: #333333; font-size: 16px; font-weight: 400; line-height: 15px; }
.product .product__row { *zoom: 1; }
.product .product__row:after { content: " "; display: table; clear: both; }
.product .product__row .rat, .product .product__row .recall { vertical-align: top; display: inline-block; }
.product .product__bot { margin-top: 15px; *zoom: 1; }
.product .product__bot:after { content: " "; display: table; clear: both; }
.product .product__bot .cart_quantity { float: left; margin-right: 10px; }
.product .product__delete { color: #aaaaaa; font-size: 14px; font-weight: 400; display: block; }
.product .product__delete .ico { margin: 5px 5px 0 0; vertical-align: top; }

.cost { font-size: 24px; font-weight: 700; }
.cost.cost_old { color: #ef4052; }
.cost.cost_old span { color: #aaaaaa; font-size: 14px; text-decoration: line-through; }

.rat { margin-right: 8px; font-size: 0; height: 30px; }
.rat .rat__item { margin-left: 3px; line-height: 28px; height: 30px; display: inline-block; }
.rat .rat__item:first-child { margin-left: 0; }
.rat .rat__star { background: url('../img/icons-s25ff529586.png') 0 -520px no-repeat; width: 12px; height: 12px; vertical-align: middle; display: inline-block; }
.rat .rat__star:hover, .rat .rat__star.is-active { background: url('../img/icons-s25ff529586.png') 0 -542px no-repeat; width: 12px; height: 12px; }

.recall { color: #1981c4; font-size: 14px; font-weight: 400; line-height: 30px; }

.info-bue { position: absolute; top: 100%; left: 0; right: 0; height: 15px; line-height: 14px; background-color: #c8e5f6; color: #333333; font-size: 13px; }

.btn.button-prev { position: relative; }
.btn.button-prev:before { position: absolute; content: ""; top: 50%; left: 17px; margin-top: -5px; background: url('../img/icons-s25ff529586.png') 0 -81px no-repeat; width: 6px; height: 10px; }

.availability { margin: 10px 0; color: #333333; font-size: 14px; font-weight: 400; }
.availability .availability__blue { color: #2290cf; font-weight: 700; }

.title-h4 { margin-bottom: 15px; color: #333333; font-size: 18px; font-weight: 700; }

.add-rec { margin-left: 5px; color: #2290cf; font-family: "PT Sans"; font-size: 16px; font-weight: 400; }

.comment { margin-bottom: 28px; }
.comment .comment__user { color: #333333; font-size: 16px; font-weight: 700; }
.comment .comment__user, .comment .date { vertical-align: top; display: inline-block; }
.comment .comment__text { position: relative; margin-top: 10px; padding: 15px 20px; background: #eeeeee; }
.comment .comment__text:before { position: absolute; content: ""; top: -10px; left: 131px; width: 0px; height: 0px; border-style: solid; border-width: 10px 0 0 16px; border-color: transparent transparent transparent #eeeeee; }

.cart-inner { position: relative; left: 50%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); display: inline-block; }
.cart-inner a { color: #2290cf; }

.page-heading_card { position: relative; margin-bottom: 10px; }
.page-heading_card .ico { position: absolute; left: -40px; top: 0; }
.page-heading_card.page-heading { overflow: inherit; }

.colors { font-size: 0; }
.colors .color { margin-left: 10px; width: 30px; height: 30px; vertical-align: top; cursor: pointer; display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.colors .color:first-child { margin-left: 0; }
.colors .color.is-white { border: 2px solid #e0e2e2; }
.colors .color.is-green { background: #bff693; }
.colors .color.is-yellow { background: #f3f584; }
.colors .color.is-blue { background: #b5efee; }
.colors .color.is-pink { background: #ffdbe5; }

.soc-links a { color: #2290cf; }
.soc-links p { margin-bottom: 2px; }
.soc-links .soc-links__title { margin-bottom: 23px; color: #333333; font-size: 24px; font-weight: 700; }
.soc-links .soc-links__row { position: relative; margin-top: 20px; padding-left: 58px; }
.soc-links .soc-links__row .ico { position: absolute; left: 0; top: 2px; }

.user { position: relative; margin-top: -10px; color: #333333; font-size: 16px; font-weight: 400; vertical-align: top; display: inline-block; }
.user:hover:before { background: url('../img/icons-s25ff529586.png') 0 -47px no-repeat; width: 10px; height: 7px; }
.user:hover .user__drop { display: block; }
.user:hover .ico { background: url('../img/icons-s25ff529586.png') 0 -234px no-repeat; width: 14px; height: 16px; }
.user:hover .user__name { color: white; background: #bf9f79; -moz-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15); -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15); }
.user:before { position: absolute; content: ""; top: 17px; right: 15px; background: url('../img/icons-s25ff529586.png') 0 -64px no-repeat; width: 10px; height: 7px; }
.user a:hover { color: #bf9f79; }
.user .user__name { height: 40px; padding: 0 28px 0 15px; line-height: 40px; display: block; }
.user .user__drop { position: absolute; left: 0; right: 0; top: 100%; padding: 18px 15px 22px; border: 2px solid #bf9f79; background: white; z-index: 10; display: none; }
.user .user__row { margin-top: 12px; }
.user .user__row:first-child { margin-top: 0; }
.user .user__row span { color: #999999; }
.user .ico { margin-right: 10px; vertical-align: middle; }

.steps { margin: 10px 0 23px; }
.steps .steps__rarr { color: #aaaaaa; display: inline-block; }

.step { margin-left: 8px; vertical-align: top; display: inline-block; }
.step:first-child { margin-left: 0; }
.step.is-active { color: #bf9f79; }
.step.is-active .step__numb { background: #bf9f79; }
.step.is-passed { color: #2290cf; }
.step .step__numb { margin-right: 5px; width: 20px; height: 20px; text-align: center; line-height: 22px; font-size: 14px; color: white; font-weight: 700; background-color: #cbcbcb; vertical-align: top; display: inline-block; }

.edit { padding: 0 20px; background: #eeeeee; }
.edit .edit__row { padding: 16px 0; border-top: 2px solid #cbcbcb; *zoom: 1; }
.edit .edit__row:after { content: " "; display: table; clear: both; }
.edit .edit__row:first-child { border: none; }
.edit .edit__left { float: left; }
.edit .edit__right { float: right; }
.edit a.edit__right { color: #2290cf; }
.edit .edit__all { color: #333333; font-size: 16px; font-weight: 700; }

.method { font-size: 0; vertical-align: top; display: inline-block; }
.method .method__item { padding: 7px 12px; color: #333333; font-size: 14px; font-weight: 400; line-height: 1; border: 2px solid #e0e2e2; border-left: none; cursor: pointer; display: inline-block; vertical-align: top; }
.method .method__item:first-child { border-left: 2px solid #e0e2e2; border-right: none; }
.method .method__item.is-active { color: white; border-color: #bf9f79; border-top-color: #a38767; background: #bf9f79; }

.radiobutton span { font-weight: normal; }

.successfully { margin-top: 100px; text-align: center; }
.successfully .successfully__in { position: relative; padding: 25px; width: 488px; vertical-align: top; border: 2px solid #e0e2e2; display: inline-block; }
.successfully .successfully__in:before { position: absolute; content: ""; top: -2px; left: 20px; background: url('../img/icons-s25ff529586.png') 0 -564px no-repeat; width: 50px; height: 72px; }
.successfully .successfully__in p { margin: 30px 0; }

.back { color: #2290cf; font-weight: 700; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; border: none; background: none; background: url('../img/icons-s25ff529586.png') 0 0 no-repeat; width: 21px; height: 37px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); opacity: 0.2; }
.slick-prev:hover, .slick-next:hover { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: -30px; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.slick-next { right: -30px; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button { opacity: 0.3; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: white; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }
