// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic")
=lato
	font-family: 'Lato', sans-serif
	font-weight: normal

// icons
.ico
	display: inline-block
	&.ico_logo-small
		+s(logo-small)
	&.ico_ricato
		+s(ricato)
	&.ico_ch-card
		+s(icon-card)

// common blocks      

// header-top
.header-top
	background: #eee

// link
.link
	padding: 8px 15px
	height: 40px
	display: block
	+transition(all .1s linear)
	+box
	&:hover,
	&.is-active
		background: #fff
	.link__top
		line-height: 13px
		color: #888
		font-size: 16px
		+lato
		font-style: italic
	.link__dom
		font-size: 12px
		line-height: 1
		color: #999
		&.link__dom_mod
			position: relative
			top: -2px

// shopping_cart
.shopping-cart-wrapper
	float: right
	height: 40px
	min-width: 172px
.shopping_cart
	height: 40px
	color: #999
	font-size: 16px
	+clr
	&.is-fixed
		position: fixed
		top: 0
		z-index: 200
		+box-shadow(0 5px 10px rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.15))
	&.is-active,
	&.is-fixed
		color: #333
		background-color: #C8E5F6
	&.is-active
		.shopping_cart_item
			display: inline-block
	.shopping_cart_text
		padding: 10px 15px 0
		display: inline-block
	.shopping_cart_item
		margin-left: 5px
		color: #2290CF
		font-weight: 700
		display: none
	.shopping_card_btn
		float: right
		width: 40px
		height: 40px
		line-height: 40px
		text-align: center
		background-color: #2290CF
		border: none
		+box-shadow(inset 0 -2px 0 rgba(0, 0, 0, 0.15))

// logo
.logo
	+s(logo)

// stock
.stock
	margin-bottom: 38px
	font-size: 0
	.stock__col
		margin-left: 20px
		width: 490px
		vertical-align: top
		display: inline-block
		+clr
		&:first-child
			margin-left: 0
	.stock__img
		float: left
		position: relative
		width: 235px
		min-height: 210px
		img
			position: absolute
			top: 50%
			left: 50%
			+translate(-50%,-50%)
			display: block
	.stock__right
		float: right
		padding: 20px
		width: 255px
		height: 210px
		font-weight: 700
		line-height: 179px
		background: #ef4052
		+box
		&.is-brown
			background-color: #bf9f79
	.stock__text
		line-height: 1.2
		vertical-align: middle
		display: inline-block
	.stock__title
		margin-bottom: 12px
		color: #fff
		font-size: 20px
		line-height: 24px
	.stock__price
		color: #f8d009
		font-size: 20px
		line-height: 36px
	.stock__price-old
		margin-right: 2px
		color: #FFF
		font-size: 14px
		text-decoration: line-through
		display: inline-block

// product
.products
	.slick-track,
	.slick-list
		margin-bottom: -27px
		padding-bottom: 27px
	.slick-prev,
	.slick-next
		top: 102px
		margin: 0
	.slick-prev
		left: -15px
		+rotate(180)
	.slick-next
		right: -42px
.product
	width: 225px
	.product__img
		position: relative
		height: 230px
		img
			position: absolute
			top: 50%
			left: 50%
			+translate(-50%, -50%)
	.product__title
		color: #333
		font-size: 16px
		font-weight: 400
		line-height: 15px
	.product__row
		+clr
		.rat,
		.recall
			vertical-align: top
			display: inline-block
	.product__bot
		margin-top: 15px
		+clr
		.cart_quantity
			float: left
			margin-right: 10px

// cost
.cost
	font-size: 24px
	font-weight: 700
	&.cost_old
		color: #ef4052
		span
			color: #aaa
			font-size: 14px
			text-decoration: line-through

// rating
.rat
	margin-right: 8px
	font-size: 0
	height: 30px
	.rat__item
		margin-left: 3px
		line-height: 28px
		height: 30px
		display: inline-block
		&:first-child
			margin-left: 0
	.rat__star
		+s(star-def)
		vertical-align: middle
		display: inline-block
		&:hover,
		&.is-active
			+s(star)

// recall
.recall
	color: #1981c4
	font-size: 14px
	font-weight: 400
	line-height: 30px
































































































